.formaAmarilla{
    background: yellow;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.formaVerde{
    background: green;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.formaRoja{
    background: red;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.caja{
    background-color: black;
    width: 200px;
    height: 600px;
}
#root{
    align-items: center;
    display: flex;
    justify-items: center;
    justify-content: center;
}
#Rojo {
    background-color: red;
}

#Amarillo {
    background-color: yellow;
}
#Verde {
    background-color: green;
}
.click{
    background-color: aliceblue;
}