.formaAmarilla{
    background: yellow;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-top: 10px;
}
.formaVerde{
    background: green;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-top: 10px;
}
.formaRoja{
    background: red;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.caja{
    background-color: black;
    width: 200px;
    height: 350px;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.palo{
    background-color: black;
    width: 50px;
    height: 900px;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
#root{
    align-items: center;
    display: flex;
    justify-items: center;
    justify-content: center;
}

.clickRojo{
    background-color: rgb(255, 35, 35);
    width: 110px;
    height: 110px;
    border-radius: 100%;
    border-color: aliceblue;
    margin-top: 10px;
}
.clickAmarillo{
    background-color: rgb(255, 255, 48);
    width: 110px;
    height: 110px;
    border-radius: 100%;
    border-color: aliceblue;
    margin-top: 10px;
}
.clickVerde{
    background-color: rgb(49, 255, 49);
    width: 110px;
    height: 110px;
    border-radius: 100%;
    border-color: aliceblue;
    margin-top: 10px;
}